.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: filter 0.5s ease;
    min-width: max-content;
}

.button:hover {
    filter: brightness(1.25);
}

.button:active {
    filter: brightness(.8);
}

.color-1 {
    background: var(--color-purple-900);
    border: solid 1px var(--color-purple-900);
    color: var( --color-white);
}

.color-2 {
    background: var(--color-purple-500);
    border: solid 1px var(--color-purple-500);
    color: var( --color-white);
}

.color-remove {
    background: var(--color-red-700);
    border: solid 1px var(--color-red-700);
    color: var( --color-red-100);
}

.rounded {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    padding: 0;
    margin-left: 10px;
}
.square {
    border-radius: 15px;
    width: 55px;
    height: 55px;
    padding: 0;
    margin-left: 10px;
}

.color-link {
    color: white;
    padding: 10px;
    box-shadow: none;
    background: transparent;
    border: transparent;
}